.user-dashboard-page {
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-dashboard-user {
  margin-top: 20px;
  padding: 20px;
  width: 85%;
  min-height: 400px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-dashboard-menu {
  margin-top: 20px;
  padding: 20px;
  width: 85%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Quicksand', sans-serif;
}

.user-dashboard-info {
  text-align: right;
  display: flex;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
}

.user-dashboard-info h4 {
  font-family: 'Staatliches', cursive;
}

.user-dashboard-address {
  display: flex;
  flex-direction: column;
  color: gray;
}

.user-dashboard-host {
  text-align: right;
  font-family: 'Quicksand', sans-serif;
}

.user-dash-header {
  font-family: 'Staatliches', cursive;
}

.user-dashboard-host-tag img {
  margin-top: -20px;
  border-radius: 25px;
}

.user-dashboard-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-dashboard-description {
  width: 35%;
  max-height: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-dashboard-description h1 {
  font-family: 'Quicksand', sans-serif;
}

.user-dashboard-description p {
  text-align: justify;
  white-space: pre-wrap;
  font-size: 90%;
}

.user-dashboard-photo h5 {
  font-family: 'Staatliches', cursive;
}

.user-dashboard-photo h6 {
  font-family: 'Quicksand', sans-serif;
  color: gray;
}

.bio-update-success {
  font-family: 'Quicksand', sans-serif;
  color: #82CE6C;
}

.dashboard-button {
  align-self: flex-end;
  width: 100px;
}

@media only screen and (max-width: 600px) {
  .user-dashboard-user {
    margin-top: 20px;
    padding: 20px;
    width: 85%;
    background-color: white;
    display: flex;
    flex-direction: column;
  }
}
