<div class="location-landing-page">
  <h1 class="location-landing-header">Flippr.</h1>

  <h6 class="location-landing-sub-header">Flippr is an app that shows you who is playing pinball in public locations near you.</h6>
  <p> To do this, we'll need your permission to get your location.</p>
  <p> 1.) Please ensure you are using HTTPS in your URL.</p>
  <p> 2.) Click the button below and then select "allow" when prompted. You'll be redirected back to the homepage if successful.</p>

  <div id="app"></div>
</div>
