<div class="location-landing-page">
  <h1 class="location-landing-header">Flippr.</h1>

  <h6 class="location-landing-sub-header">Flippr is an app that shows you who is playing pinball in public locations near you.</h6>
  <p> To do this, we'll need your permission to get your location. Please click the button below and click 'allow' when your browser promps you, then navigate back to the home page!</p>

  <div id="app"></div>
</div>
