<div class="splash-page">
  <div class="demo-video">
    <iframe src="https://player.vimeo.com/video/337149259" frameborder="0" allow="autoplay; fullscreen" style="width:100%;height:100%;" allowfullscreen></iframe>
  </div>
  <span class="splash-header">Flippr.</span>
  <span class="splash-sub-header">Watch the video above to see what Flippr is all about, and click "Sign Up" to join us and start flippin' with friends!</span>
</div>
