.react-new-event-form {
  width: 50%;
  max-width: 50%;
}

.public-event-form-info-photo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.fa-camera-retro {
  font-size: 7em;
  color: #ADB5BD;
}

.photo-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.location-search-example {
  font-family: 'Quicksand', sans-serif;
  color: #b1b1b4;
  font-size: 60%;
}

#form-submit-button {
  border-radius: 15px;
  background-color: #0075a0;
}
