.event-edit-page {
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-edit-event {
  margin-top: 20px;
  padding: 20px;
  width: 85%;
  min-height: 500px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.event-edit-info {
  text-align: right;
  display: flex;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
}

.event-edit-info h4 {
  font-family: 'Staatliches', cursive;
}

.event-edit-address {
  display: flex;
  flex-direction: column;
  color: gray;
}

.event-edit-host {
  text-align: right;
  font-family: 'Quicksand', sans-serif;
}

.event-edit-host-tag {
  font-family: 'Staatliches', cursive;
}

.event-edit-host-tag img {
  margin-top: -20px;
  border-radius: 25px;
}

.event-edit-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.event-edit-description {
  width: 35%;
  max-height: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.event-edit-description h1 {
  font-family: 'Quicksand', sans-serif;
}

.event-edit-description p {
  text-align: justify;
  white-space: pre-wrap;
  font-size: 90%;
}

.event-edit-success {
  width: 100%;
  background-color: #82CE6C;

}
