.event-show-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E9EBEE;
}

.event-show-event {
  margin-top: 20px;
  padding: 20px;
  width: 85%;
  min-height: 400px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.event-show-comment {
  margin-top: 20px;
  padding: 20px;
  width: 85%;
  min-height: 400px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.event-show-photo {
  display: flex;
  flex-direction: column;
}

.event-show-info {
  text-align: right;
  display: flex;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
}

.event-show-info h4 {
  font-family: 'Staatliches', cursive;
}

.event-show-address {
  display: flex;
  flex-direction: column;
  color: gray;
}

.event-show-host {
  text-align: right;
  font-family: 'Quicksand', sans-serif;
}

.event-show-host-tag {
  font-family: 'Staatliches', cursive;
}

.event-show-host-tag img {
  margin-top: -20px;
  border-radius: 25px;
}

.event-show-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.event-show-description {
  width: 35%;
  max-height: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.event-show-description h1 {
  font-family: 'Quicksand', sans-serif;
}

.event-show-description p {
  text-align: justify;
  white-space: pre-wrap;
  font-size: 90%;
}

.map-marker{
  font-size: 200%;
}

.rsvp-header {
  font-family: 'Staatliches', cursive;
}

#rsvp-button {
  font-family: 'Staatliches', cursive;
}

.event-show-attendees {
  display: flex;
  flex-direction: row;
  margin-left: 15px;
}

.attendees-overflow {
  margin-left: -15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-family: 'Staatliches', cursive;
  font-size: 70%;
  padding: 5px;
  background-color: #dfddddd6;
  color: black;
  border: 1px solid gray;
  border-radius: 25px;
}

.rsvp-and-comment {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#comment-box-button {
  border-radius: 10px;
  background-color: #3076A0;
}

.event-discussion-header h3 {
  font-family: 'Staatliches', cursive;
}

@media only screen and (max-width: 600px) {
  .google-map {
    visibility: collapse;
  }

  .rsvp-and-comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .event-show-event {
    margin-top: 20px;
    padding: 20px;
    width: 85%;
    min-height: 800px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .event-show-comment {
    display: flex;
    flex-direction: column;
  }

  .event-show-description {
    margin-top: 5px;
    width: 100%;
    max-height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
  }
}
