.user-show-page {
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-show-user {
  margin-top: 20px;
  padding: 20px;
  width: 85%;
  min-height: 400px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-show-info {
  text-align: right;
  display: flex;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
}

.user-show-info h4 {
  font-family: 'Staatliches', cursive;
}

.user-show-address {
  display: flex;
  flex-direction: column;
  color: gray;
}

.user-show-host {
  text-align: right;
  font-family: 'Quicksand', sans-serif;
}

.user-dash-header {
  font-family: 'Staatliches', cursive;
}

.user-show-host-tag img {
  margin-top: -20px;
  border-radius: 25px;
}

.user-show-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-show-description {
  width: 35%;
  max-height: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.user-show-description h1 {
  font-family: 'Quicksand', sans-serif;
}

.user-show-description p {
  text-align: justify;
  white-space: pre-wrap;
  font-size: 90%;
}

.user-show-photo h5 {
  font-family: 'Staatliches', cursive;
}

.user-show-photo h6 {
  ont-family: 'Quicksand', sans-serif;
  color: gray;
}
