.user-show-page {
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-show-user {
  margin-top: 20px;
  padding: 20px;
  width: 70%;
  min-height: 300px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-show-info {
  text-align: right;
  display: flex;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
}

.user-show-info h4 {
  font-family: 'Staatliches', cursive;
}

.user-show-address {
  display: flex;
  flex-direction: column;
  color: gray;
}

.user-show-host {
  text-align: right;
  font-family: 'Quicksand', sans-serif;
}

.user-dash-header {
  font-family: 'Staatliches', cursive;
}

.user-show-host-tag img {
  margin-top: -20px;
  border-radius: 25px;
}

.user-show-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-show-description {
  width: 35%;
  max-height: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.user-show-description h1 {
  font-family: 'Quicksand', sans-serif;
}

.user-show-description p {
  line-height: 1.1;
  font-family: 'Quicksand', sans-serif;
  text-align: left;
  white-space: pre-wrap;
  font-size: 90%;
}

.user-show-photo h5 {
  font-family: 'Staatliches', cursive;
}

.user-show-photo h6 {
  ont-family: 'Quicksand', sans-serif;
  color: gray;
}

@media only screen and (max-width: 600px) {
  .user-show-user {
    margin-top: 20px;
    padding: 20px;
    width: 85%;
    min-height: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .user-show-page {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }

  .user-show-description {
    width: 100%
  }

  .user-show-info {
    visibility: collapse;
  }
}
