.event-tile {
  margin: 10px;
  width: 100%;
  background-color: #F4F2F0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: 'Quicksand', sans-serif;
}

.event-menu {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  max-width: 100px;
}

#event-options {
  position: absolute;
  z-index: 1;
  padding: 2px 5px 5px 5px;
  margin-top: 2px;
  margin-bottom: 10px;
  display: flex;
  align-self: flex-end;
  background-color: white;
  color: black;
  border: 1px solid gray;
}

#event-options:hover {
  background-color: #F4F2F0;
}

.event-option-dropdown {
  margin-top: 25px;
  position: absolute;
  z-index: 1;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100px;
  background-color: #ffffffdb;
  font-family: 'Quicksand', sans-serif;
  border: 1px solid black;
}

.event-option-dropdown span {
  width: 100%;
}

.event-option-dropdown span a {
  color: black;
}

.event-option-dropdown span:hover {
  background-color: #F4F2F0;
}

.event-tile-content {
  position: relative;
  z-index: 0;
  background-color: white;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 60%;
}

.event-tile-user-info {
  z-index: 0;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
}

.event-tile-info {
  z-index: 0;
  padding: 5px;
  display: flex;
  flex-direction: column;
  background-color: #E9EBEE;
}

.event-tile-event {
  z-index: 0;
  border: 1px solid gray;
  width: 75%;
  height: auto;
  box-shadow: 8px 8px #F4F2F0;
  display: flex;
  flex-direction: column;
}

.event-tile-photo {
  height: 300px;
  overflow: hidden;
}

.event-tile-photo img {
  width: 100%;
}

.event-tile-user-name {
  font-family: 'Staatliches', cursive;
}

.event-tile-user-info img {
  border-radius: 25px;
}

.event-tile-title {
  background-color: white;
  padding: 3px;
  text-align: center;
  font-family: 'Staatliches', cursive;
}

.event-tile-sub-info p {
  line-height: 3px;
}

@media only screen and (max-width: 600px) {
  .event-tile-photo {
    height: auto;
    width: auto;
    overflow: hidden;
  }

  .event-tile-location {
    font-size: 80%;
  }

  .event-tile-content {
    width: 80%;
  }
}
