.splash-page {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E9EBEE;
}

.splash-header {
  font-family: 'Bungee Shade', cursive;
  font-size: 500%
}

.splash-sub-header {
  white-space: nowrap;
  font-family: 'Staatliches', cursive;
}

@media only screen and (max-width: 600px) {

.splash-sub-header {
  padding: 0px 20px 0px 20px;
  white-space: pre-wrap;
}

.demo-video {
  max-width: 90%;
}

}
